@import "../variables";

.App {
  background-color: $app-background-color;
  padding: $container-padding;
  min-height: 100vh;

  .Table {
    margin-top: 85px;

    &:last-child {
      margin-bottom: 85px;
    }
  }
}

@media screen and (max-width: 800px) {
  .App {
    padding: $container-padding 0;

    .TableForm {
      margin: 0 auto;
    }
  }
}