// Sizes
$container-padding: 45px;
$form-spacing: 17px;
$form-width: 280px;
$initial-border-radius: 5px;
$table-cell-padding-left: 15px;
$table-cell-height: 30px;

// Colors
$app-background-color: #e5e8ed;
$white: #ffffff;
$gray: #c3ccd9;
$light-blue: #1493ff;
$blue: #067ce1;
$dark-blue: #0a508c;
$dip-dark-blue: #4f5b65;
$red: #b02337;

// Text
$font-family: 'Roboto', sans-serif;
$font-size: 14px;
$font-size-small: 12px;